@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
  }
  :root {
    --background: oklch(1 0 0);
    --background-rgb: 255 255 255;
    --foreground: oklch(0.145 0 0);
    --foreground-rgb: 37 37 37;
    --card: oklch(1 0 0);
    --card-rgb: 255 255 255;
    --card-foreground: oklch(0.145 0 0);
    --card-foreground-rgb: 37 37 37;
    --popover: oklch(1 0 0);
    --popover-rgb: 255 255 255;
    --popover-foreground: oklch(0.145 0 0);
    --popover-foreground-rgb: 37 37 37;
    --primary: oklch(0.205 0 0);
    --primary-rgb: 52 52 52;
    --primary-foreground: oklch(0.985 0 0);
    --primary-foreground-rgb: 251 251 251;
    --secondary: oklch(0.97 0 0);
    --secondary-rgb: 247 247 247;
    --secondary-foreground: oklch(0.205 0 0);
    --secondary-foreground-rgb: 52 52 52;
    --muted: oklch(0.97 0 0);
    --muted-rgb: 247 247 247;
    --muted-foreground: oklch(0.556 0 0);
    --muted-foreground-rgb: 110 110 110;
    --accent: oklch(0.97 0 0);
    --accent-rgb: 247 247 247;
    --accent-foreground: oklch(0.205 0 0);
    --accent-foreground-rgb: 52 52 52;
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-rgb: 225 29 72;
    --destructive-foreground-rgb: 255 255 255;
    --border: oklch(0.922 0 0);
    --border-rgb: 229 229 229;
    --input: oklch(0.922 0 0);
    --input-rgb: 229 229 229;
    --ring: oklch(0.708 0 0);
    --ring-rgb: 161 161 170;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0)
  }
  .dark {
    --background: oklch(0.145 0 0);
    --background-rgb: 37 37 37;
    --foreground: oklch(0.985 0 0);
    --foreground-rgb: 251 251 251;
    --card: oklch(0.205 0 0);
    --card-rgb: 52 52 52;
    --card-foreground: oklch(0.985 0 0);
    --card-foreground-rgb: 251 251 251;
    --popover: oklch(0.205 0 0);
    --popover-rgb: 52 52 52;
    --popover-foreground: oklch(0.985 0 0);
    --popover-foreground-rgb: 251 251 251;
    --primary: oklch(0.922 0 0);
    --primary-rgb: 229 229 229;
    --primary-foreground: oklch(0.205 0 0);
    --primary-foreground-rgb: 52 52 52;
    --secondary: oklch(0.269 0 0);
    --secondary-rgb: 63 63 70;
    --secondary-foreground: oklch(0.985 0 0);
    --secondary-foreground-rgb: 251 251 251;
    --muted: oklch(0.269 0 0);
    --muted-rgb: 63 63 70;
    --muted-foreground: oklch(0.708 0 0);
    --muted-foreground-rgb: 161 161 170;
    --accent: oklch(0.269 0 0);
    --accent-rgb: 63 63 70;
    --accent-foreground: oklch(0.985 0 0);
    --accent-foreground-rgb: 251 251 251;
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-rgb: 251 113 133;
    --destructive-foreground-rgb: 255 255 255;
    --border: oklch(1 0 0 / 10%);
    --border-rgb: 255 255 255;
    --input: oklch(1 0 0 / 15%);
    --input-rgb: 255 255 255;
    --ring: oklch(0.556 0 0);
    --ring-rgb: 113 113 122;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0)
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
